<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
        <a class="navbar-brand text-white" href="/">First node app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/"><i class="fas fa-home text-secondary"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/contact"><i class="fas fa-envelope text-secondary"></i> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/#about"><i class="fas fa-building text-secondary"></i> About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>